<p>editauthor works!</p>
<h1>Edit Form</h1>
    <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="NEW NAME" [(ngModel)] = "name"
                           name = "name"
                           required #spy
                           #temp = "ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
            name is required
          </mat-error>                        
        </mat-form-field>
    
         <!-- <mat-form-field>
            <input matInput placeholder="ID" [(ngModel)] = "id"
                             name = "id"
                             required #spy
                             #temp = "ngModel">
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
              id is required
            </mat-error>                        
          </mat-form-field>  -->
      
        <div >
            <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">change</button>
        </div>
      </div>
    </form>