<p>postform works!</p>

    <h1>New Post</h1>
    <form #postForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="Post title"
                [(ngModel)] = "name"
                name = "name">
        </mat-form-field> 
        <mat-form-field>
            <input 
                matInput placeholder="Post body"
                [(ngModel)] = "body"
                name = "body">
        </mat-form-field> 
        <mat-form-field>
                <input 
                    matInput placeholder="Post author"
                    [(ngModel)] = "author"
                    name = "author">
        </mat-form-field>                   
        <div >
          <button mat-raised-button color="primary" [disabled]="!postForm.form.valid">{{buttonText}}</button>
          <button mat-raised-button [routerLink]="'/posts'" >Cancel</button>
        </div>
      </div>
    </form>
   
