
 <div class="example-button-row">
  <button 
     mat-raised-button color="primary"
     [routerLink]="'/postform'">
     Add post
  </button>
</div>
 <div *ngIf = "!(posts$ | async)">Loading...</div>
 <br>
 <mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.name}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
       {{post.body}}
       
      Author: {{post.author}}

      <button 
      mat-raised-button color="primary"
      (click)= deletePost(post.id)>
      Delete
   </button>
   <button 
   mat-raised-button color="primary"
   [routerLink]="'/postform/' + post.id">
   Update
</button>
      
    </mat-expansion-panel>
  </mat-accordion>
  